<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>Game</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"  href="../static/css/styles.css"/>
  </head>
  <body>
    <section class="game">

    </section>
    <script type="text/javascript" th:src="@{/js/p5.min.js}" src="../static/js/p5.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}" src="../static/js/script.js"></script>
    <script type="text/javascript" th:src="@{/js/elements.js}" src="../static/js/elements.js"></script>
    <script type="text/javascript" th:src="@{/js/player.js}" src="../static/js/player.js"></script>
    <script type="text/javascript" th:src="@{/js/card.js}" src="../static/js/card.js"></script>
    <script type="text/javascript" th:src="@{/js/question.js}" src="../static/js/question.js"></script>
  </body>
</html>
