<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>Iron Cards</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"  href="../static/css/styles.css"/>
  </head>
  <body>
    <section class="main">
      <h1>The Iron Cards!</h1>
      <div class="mid">
        <p>Username:</p>
        <input type="text" name="" value=""/><br/>
        <button type="button" name="button"><a href="describe.html">GO</a></button>
      </div>
    </section>
  </body>
</html>
